<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapper.DeptEmpMapper">

	<resultMap type="test.dto.DeptEmpDTO" id="DeptEmp">
		<id column="deptno" property="deptno"/>
		<result column="dname" property="dname"/>
		<collection property="empList" ofType="test.dto.EmpDTO">
			<id column="empno" property="empno"/>
			<result column="ename" property="ename"/>
			<result column="job" property="job"/>
		</collection>
	</resultMap>
	
	<select id="deptEmp" resultMap="DeptEmp">
		select d.deptno,d.dname,e.empno,e.ename,e.job 
		from dept d left join emp e
		on d.deptno=e.deptno
	</select>
</mapper>