<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.BoardMapper">

	<insert id="insert" parameterType="board">
		insert into myboard values(myboard_seq.nextval,#{writer},#{title},#{content},sysdate)
	</insert>
	
	<select id="selectList" resultType="board" parameterType="hashmap">
		select * from myboard 
		<if test="field!=null">
			where ${field} like '%'||#{keyword}||'%'
		</if>
	</select>
	
	<delete id="delete" parameterType="int">
		delete from myboard where num=#{num}
	</delete>
	
	<select id="getInfo" parameterType="int" resultType="board">
		select * from myboard where num=#{num}
	</select>
	
	<update id="update" parameterType="board">
		update myboard 
		<set>
			<if test="title != null">title=#{title},</if>
			<if test="content != null">content=#{content}</if>
		</set>  
		where num=#{num}
	</update>
	
	<select id="searchList" resultType="board" parameterType="hashmap">
		select * from myboard
		<where>
		<if test="writer !=null">
			writer like '%'||#{keyword}||'%'
		</if>
		<if test="title !=null">
			or title like '%'||#{keyword}||'%'
		</if>
		<if test="content !=null">
			or content like '%'||#{keyword}||'%'
		</if>	
		</where>
	</select>
	
</mapper>